main {
    background-color: rgb(255, 255, 255);
}
h1{
    font-weight: 900;
}
focus {
    outline: 3px solid #007BFF; /* Blaue Umrandung beim Fokus */
  }

  p{
    font-size: large;
  }

  /* Ermöglichen von größeren Abständen für bessere Lesbarkeit */
.text-container * {
    letter-spacing: 0.12em; /* Größerer Buchstabenabstand */
    line-height: 2; /* Größerer Zeilenabstand */
    word-spacing: 0.16em; /* Größerer Wortabstand */
    margin-bottom: 1em; /* Abstand zwischen Absätzen */
}