<p></p>

<form>
    <label for="session-time">Wähle die Sitzungszeit:</label>
    <select id="session-time">
      <option value="5">5 Minuten</option>
      <option value="10">10 Minuten</option>
      <option value="15">15 Minuten</option>
    </select>
  </form>
<main class="d-flex align-items-center min-vh-100">
    <div class="container text-center">
       <h1>Welcome to your own library!</h1> 
       <p></p>
       <p>
        Willkommen bei deiner digitalen Bibliothek, mit der du deine eigenen Bücher bequem und 
        effizient organisieren, katalogisieren und verwalten kannst.
       </p>
       <h2>Du entscheidest.</h2>
       <h2>Entweder:</h2>
       <p>Klick auf "Ein Buch hinzufügen" um dein neustes Buch, ein Buch deiner Wunschliste 
        oder auch ein gelesenes Buch hinzuzufügen!</p>
        <p></p>
        <h2>Oder:</h2>
       <p>Klick auf "Alle deine Bücher" um eine Übersicht aller deiner Bücher zu haben!</p>
        <p></p>
       <img src="/Librarybus.png" alt="Bild eines Library Busses">
    </div>
</main>  
