<main class="d-flex align-items-center min-vh-100">
    <div class="container text-center">
       <h1>Welcome to your own library!</h1> 
       <p></p>
       <h1>Du entscheidest.</h1>
       <h1>Entweder:</h1>
       <h2>Klick auf "Ein Buch hinzufügen" um dein neustes Buch, ein Buch deiner Wunschliste oder auch ein gelesenes Buch hinzuzufügen!</h2>
        <p></p>
        <h1>Oder</h1>
       <h2>Klick auf "Alle deine Bücher" um eine Übersicht aller deiner Bücher zu haben!</h2>
       <img src="/Librarybus.png" alt="Bild eines Library Busses" />

    </div>
</main>  
